<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276505307410-83lut6mlij8nvop3ms1sp7hu158poilh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276505307410-83lut6mlij8nvop3ms1sp7hu158poilh</string>
	<key>API_KEY</key>
	<string>AIzaSyDrS4VkZje6yDEE9FpZq0-DKSaTHvsWbRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>276505307410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iglnetwork.IGL</string>
	<key>PROJECT_ID</key>
	<string>indian-gaming-league</string>
	<key>STORAGE_BUCKET</key>
	<string>indian-gaming-league.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276505307410:ios:90e696e550083ef6</string>
	<key>DATABASE_URL</key>
	<string>https://indian-gaming-league.firebaseio.com</string>
</dict>
</plist>